.contactsViewDiv {
    height: 100vh;
    display: flex;
    -webkit-box-shadow: 0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


/*
    This is Get in touch style section
*/
.get_in_Touch {
    margin: 2.5%;
    width: 50%;
    height: 100%;
}
.get_in_touch_ul {
    list-style: none;
}
.social {
    width: 15%;
    height: 15%;
}
.social:hover {
    transform: scale(1.1) rotate(2deg);
    transition: 1s;
}
/*
    This is Contact me style section
*/

.contact_me {
    margin: 2.5%;
    width: 50%;
    height: 100%;
}
.contact_me_ul {
    list-style: none;
}
.inputForm {
    width: 90%;
    height: 5vh;
}
.textareaForm {
    width: 90%;
    height: 30vh;
}
.contacts_label {
    font-weight: bold;
}
.contacts_label_span {
    font-weight: normal;
}
.submit_contact {
    position: relative;
    display: inline-block;
    padding: 5% 10%;
    margin: 0;
    border: none;
    background-color: #0a093b;
    color: #03e9f4;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 0.15em;
    border-radius: 1rem;
    outline: none;
}
.submit_contact:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 1vh #03e9f4,
    0 0 1.5vh #03e9f4,
    0 0 2vh #03e9f4,
    0 0 5vh #03e9f4;
    transition: 1s;
    cursor: pointer;
}
