.educationViewDiv {
    height: 100vh;
    -webkit-box-shadow: 0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
