
.navContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    -webkit-box-shadow: 0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.navBar {
    width: 15%;
    margin: 1%;
    padding: 0;
    font-family: consolas, serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #0a093b;
    -webkit-box-shadow: 0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0.4vh 0.6vh 0.8vh 1vh #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.divMainContent {
    width: 80%;
    height: 100%;
    margin: 1%;

}

.navBtn {
    position: relative;
    display: inline-block;
    padding: 10% 15%;
    margin: 15% 0;
    color: #03e9f4;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 0.15em;
}
/*.navBtn:nth-child(1) {
    filter: hue-rotate(290deg);
}
.navBtn:nth-child(3) {
    filter: hue-rotate(110deg);
}*/

.navBtn:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 1vh #03e9f4,
                0 0 1.5vh #03e9f4,
                0 0 2vh #03e9f4,
                0 0 5vh #03e9f4;
    -webkit-box-reflect: below 0.1vh linear-gradient(transparent, #0005);
    transition: 1s;
}
.selected {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 1vh #03e9f4,
    0 0 1.5vh #03e9f4,
    0 0 2vh #03e9f4,
    0 0 5vh #03e9f4;
    -webkit-box-reflect: below 0.1vh linear-gradient(transparent, #0005);
}

/*
    Switch beetween components animation
*/
.switchAnimation-enter {
    opacity: 0;
    transition: opacity 0.5s;
}
.switchAnimation-enter-active {
    opacity: 0.5;
    transition: opacity 0.5s;
}
.switchAnimation-enter-done {
    opacity: 1;
    transition: opacity 0.5s;
}
.switchAnimation-exit {
    opacity: 1;
    transition: opacity 0.5s;
}
.switchAnimation-exit-active {
    opacity: 0.5;
    transition: opacity 0.5s;
}
.switchAnimation-exit-done {
    opacity: 0;
    transition: opacity 0.5s;
}

/*
Translation button CSS Styles
 */
.switch {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 5.5%;
    border: solid #03e9f4;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a093b;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 80%;
    width: 25%;
    left: 2%;
    bottom: 10%;
    background-color: #03e9f4;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5%;
    box-shadow: 0 0 1vh #03e9f4,
    0 0 1.5vh #03e9f4,
    0 0 2vh #03e9f4,
    0 0 5vh #03e9f4;
}

input:checked + .slider {
    background-color: #0a093b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(280%);
    -ms-transform: translateX(280%);
    transform: translateX(280%);
}

/*------ ADDED CSS ---------*/
.slider:after
{
    content:'English';
    color: #03e9f4;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 1rem;
    font-family: consolas, serif;
}

input:checked + .slider:after
{
    content:'Русский';
}

/*--------- END --------*/
