.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    font-size: 1rem;
    font-family: consolas, serif;
}

@media (min-width: 1366px) {
    .container {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        min-height: 100vh;
        overflow: hidden;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        min-height: 100vh;
        overflow: hidden;
    }
}
